.Textcaixa {
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;


}

.Textcaixa img {
   width: 550px;
   border-radius: 40px; 

}

main {
   display: flex;

   flex-direction: column;
   align-items: center;
}

h1 {
   height: 75px;
   width: 186px;
   background-color: #92776d;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: aliceblue;
   margin: 20px;
   border-radius: 6px;

   
}


p {
   display: flex;
   flex-direction: row;
   

   top: 0;
   color: aliceblue;
   font-size: 1.2rem;
   letter-spacing: 2px;

   width: 43vw;
   text-align: justify;
}