
body {
    height: calc(100% - 1px);
}

main p {
    text-align: center;
    color: #fff;
}
main h1 {
    text-align: left;
    color: #fff;
    margin: 20px;
    margin-right: 700px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: #92776d 5px 5px 5px;
}
main h2 {
    text-align: center;
    color: #c0aba2;
    margin: 20px;
    background-color: #594e4a;
    padding: 15px;
    border-radius: 5px;
}

main img {
    display: block;
    margin: 0 auto;
    color: #fff;
    border-radius: 25px;
    border: #c0aba2 5px double;
}
main {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
 
}

.box-text {
    row-gap: 25px;
    width: 80%;
}

.box-text p {
    margin: 25px 0;
    text-align: start;
    font-size: 1.2rem;
}
.text02 p {
    text-align: center;
}
.center p {
    margin: 25px 100px 25px 40px;
    margin-left: 100px;
}
.imagem-01 img {
    width: 35%;
    margin-left: 25px;
}
.imagem-01 {
    display: flex;
}
.imagem-01 div {
    margin: 100px 50px 50px 50px;
    row-gap: 70px;
    display: flex;
    flex-direction: column;
    letter-spacing: 1.5px;
}



footer{
    position:relative;
    bottom: 0;
    margin-top: 0;
}



