body {
    padding-bottom: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    height: calc(100% - 1px);
}

main p {
    text-align: center;
    color: #fff;
}
main h1 {
    text-align: left;
    color: #fff;
    margin: 20px;
    margin-right: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: #92776d 5px 5px 5px;
}
main h2 {
    text-align: center;
    color: #ffffff;
    margin: 20px;
    background-color: #594e4a;
    padding: 15px;
    border-radius: 5px;
}

main img {
    display: block;
    margin: 0 auto;
    color: #fff;
    border-radius: 25px;
    border: #c0aba2 5px double;
    row-gap: 25px;
    width: 30%;
    margin: 100px 10px 10px 10px;
    row-gap: 70px;
    display: flex;
    flex-direction: column;
    margin-right: 1000px;

}
main {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    margin-bottom:25px;
 
}
main > div:nth-child(2) div  {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

main > div:nth-child(2) div p {
    width: 80%;

}
/* .principal p {
    margin: 25px 100px 25px 40px;
    margin-left: 100px;
} */

.box-text p {
    margin: 25px 0;
    text-align: start;
}
.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    column-gap: 20px;
    
}
.center p {
    text-align: left;

}
.center img {
    padding: 0;
    margin: 0;
}
.center01 {
    width: 80%;
    column-gap: 15px;
}

footer{
    position:relative;
    bottom: 0;
    margin-top: 0;
}

